[http]
[user]
	email = k.sobolev@securitycode.ru
	name = Sobolev Kirill
[core]
	editor = vim
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	blog = log --decorate --oneline --branches --graph -15
	comend = commit -a --amend
[http]
	proxy = http://gate1.securitycode.ru:4343
[https]
	proxy = http://k.sobolev:Kir25878563@proxy1.securitycode.ru:4343
