[user]
	email = sobolev.kirill@finch-meirose.com
	name = Sobole Kirill
[core]
	editor = vim
[alias]
	co = checkout
	comend = commit --amend
	ci = commit
	st = status
	br = branch
	lg = log --graph --branches --remotes --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%C(reset) %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit -n 20

#	blog = log --branches --decorate --oneline --graph --remotes
[push]
	default = simple
